.blog-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 90px;
}

.blog-heading img {
    width: 600px;
    position: absolute;
    top: 55px;
    align-self: center;
}

main h2 {
    color: #49112E;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    /* padding: 10px 10px 10px 10px; */
    margin-bottom: 25px;
    font-family: "Raleway", sans-serif;
}

.blog-container {
    display: grid;
    justify-content: center;
    margin-top: 24px;
}

.blog_card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 15px;
    max-width: 2500px;
    justify-content: center;
}

.blog-authors span {
    color: rgb(87, 87, 163);
    font-weight: 600;
    font-size: 16px;
}

.blog_card {
    width: 350px;
    height: 480px;
    position: relative;
    background-color: #D2B49A;
    padding: 15px;
    border: solid 10px #3A0622;
    margin: 10px;
    box-shadow: 10px 10px 9.1px rgba(0, 0, 0, 0.250)
}

.blog-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 187px;
}

.blog-image img {
    position: relative;
    top: 12px;
    width: 200px;
}

.blog_card_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0px;

}

.blog-authors {
    font-size: 16px;
    font-weight: 700;
}

.blog-sample {
    height: 116px;
    width: 300px;
}


.blog_card_content p {
    margin: 10px;
    height: 106px;
    font-weight: 500;
}

.blog-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
}

.blog-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f2143;
    border-radius: 10.4px;
    width: 100px;
    height: 30px;
    font-size: 24px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 550;
    color: white;
    box-shadow: 5px 5px 9.1px rgba(0, 0, 0, 0.250)
}

.blog-button button:hover {
    background-color: #561A34;
    scale: 1.1;
    transition: 400ms;
}

.blog-image img {
    border: 4px solid black;
}

@media (max-width: 2000px) {
    .blog_card_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width: 1200px) {
    .blog_card_container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .blog-heading img {
        width: 350px;
        top: 60px;
    }

    .blog_card_container {
        grid-template-columns: 1fr;
    }


}

@media (max-width: 380px){
    .blog_card{
        scale: 0.8;
    }

    .blog-heading img{
        scale: 0.8;
    }

    body{
        position: relative;
    }

    .blog-container{
        margin-top: 0px;
        position: relative;
        top: -25px;
    }
}