@keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .flip {
    animation: flip 1s ease-in-out;
  }
  
  .phnx {
    position: relative;
  }
  
  .backLogo {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.5; /* Lower opacity for back logo */
    z-index: 0;
  }
  
  .frontLogo {
    position: relative;
    z-index: 1;
  }
  