* {
    padding: 0;
    margin: 0;
}

.blog1_card {
    position: relative;
    background-color: #DFC68D;
    width: 80%;
    max-width: 1200px;
    align-self: center;
    padding: 20px;
    border: 10px solid #263448;
}

blockquote {
    font-style: italic;
    padding-left: 10px;
    font-size: 17px;
}

.blog-title {
    font-family: "Raleway";
    font-weight: bolder;
    padding-top: 7px;
    font-size: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.blog-author span {
    color: #000000;
}

.blog-image img {
    width: 100%;
    border: 5px solid #263448;
}

.blog-image {
    width: 70%;
    display: flex;
    gap: 30px;
    flex-direction: row;    
}

.design1 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.blog1 {
    padding: 10px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.sidesection {
    width: 20vw;
    height: 50vw;
}

.blog-author {
    font-family: "Poppins", sans-serif;
    color: rgb(68, 68, 159);
    padding-left: 30px;
    padding-top: 30px;
    font-size: 20px;
}

.design2 {
    margin-left: -43px;
}

.blog-content {
    padding-top: 0px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-top: 0px;
    text-align: justify;
    height: 40%;
    padding-block: 30px;
    padding-inline: 10px;
    color: #000000;

}

.design3 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.blog-image :nth-child(2) {

    font-family: "Poppins", sans-serif;
    padding-right: px;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

.design4 {
    align-self: center;
    padding: 10px;
    padding-left: 20px;
}

.moreblogs {
    font-family: "Raleway";
    font-weight: bolder;
    padding-top: 15px;
    font-size: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 10px;
}


.middle_section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-content b {
    font-size: xx-large;
}

.blog-content blockquote {
    font-weight: 600;
}

.back {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    position: absolute;
    height: 40px;
    width: 100px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: #3C495B;
    color: white;
    box-shadow: 5px 5px 9.1px rgba(0, 0, 0, 0.250)
}

.back:hover{
    background-color: #232b35;
    scale: 1.1;
    transition: 400ms;
}

.back a {
    color: #ccc;
}

.back1 a {
    color: #ccc;
}

.back1 {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    position: absolute;
    height: 40px;
    width: 100px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgba(60, 73, 91, 1);
    color: white;
}


.back1:hover {
    scale: 1.1;
    background-color: rgb(42, 51, 64);
    transition: 300ms;
    cursor: pointer;
}

.down {
    bottom: 10px;
}

.btnback {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.blog-content-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-content-image img{
    width: 70%;
    border: 5px solid #263448;
}

@media (max-width: 904px) {
    .blog-image .blog-content-image img{
        width: 82%;
    }
}

@media (max-width: 836px) {
    .back {
        top: 0;
        left: 0;
        font-family: "Poppins", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 15px;
        position: absolute;
        width: 100px;
        margin: 10px;
        border-radius: 20px;
        border: 2px solid black;
        background-color: rgba(60, 73, 91, 1);
        color: white;
    }
}


@media (max-width: 804px) {
    .blog-title {
        font-family: "Raleway";
        font-weight: bolder;
        padding-top: 30px;
        font-size: 39px;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .blog1_card {
        width: 90%;
    }
}


@media (max-width: 596px) {
    .blog-image img .blog-content-image img {
        width: 96%;
        border: 5px solid #263448;
    }
}

@media (max-width: 448px) {
    .blog-content {
        padding: 0;
        font-size: 15px;
    }

    .blog-author {
        font-family: "Poppins", sans-serif;
        color: blue;
        padding-left: 2px;
        padding-top: 14px;
        font-size: 20px;
    }

    .design1 img {
        width: 119%;
    }

    .blog-image  {
        width: 100%;
    }

    .blog-content-image img{
        width: 100%;
    }

    .design3 img {
        width: 110%;
    }

    .back1 {
        font-size: 13px;
        height: 27px;
        width: 80px;
    }

    .back {
        font-size: 13px;
        height: 27px;
        width: 80px;
    }

    .down {
        bottom: -3px;
    }
}

@media (max-width: 439px) {
    .blog-title{
        padding-top: 21px;
    }

    .blog-author {
        font-size: 19px;
    }

    .blog1_card {
        width: 100%;
    }

    .blog-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 415px) {
    .blog-title {
        font-size: 30px;
    }

    .blog-author {
        padding-bottom: 10px;
    }

    .blog1_card {
        width: 100%;
    }

    .blog-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .back {
        padding: 10px;
    }
}


@media (max-width: 280px) {
    .blog-title {
        font-size: 25px;
    }

    .blog-author {
        font-size: 15px;
        padding-bottom: 10px;
    }
}

i {
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(30deg, 0deg);
}