@font-face {
  font-family: Playfair;
  src: url("/fonts/PlayfairDisplay-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Playfair;
  src: url("/fonts/PlayfairDisplay-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Bold.woff2");
  font-weight: 700;
}

@import "tailwindcss";

@theme {
  --color-paleskyblue: #DCF1FF;
  --color-deepnavy: #111C33;
  --color-midnightblue: #0A192E;
  --font-heading: Playfair, "serif";
  --font-body: Inter, "sans-serif";
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.25rem; }

/*  Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thub:hover {
  background: #555;
}

