@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --firefly: #0A192E; /*Used for bg of buttons and headings*/
  --submarine: #b4bbc4;
  --lynch: #76879E; /*Used for bg of text*/
  --bali-hai: #7B94AB;
  --twilight: #112B45;/*Used for alternative for dark blue*/
  --mist: #EAF4FB; /*Used for alternative for text*/
}

@layer utilities {
  /* Firefly (Dark Navy) */
  .text-firefly {
    color: var(--firefly);
  }
  .bg-firefly {
    background-color: var(--firefly);
  }

  /* Submarine (Light Gray-Blue) */
  .text-submarine {
    color: var(--submarine);
  }
  .bg-submarine {
    background-color: var(--submarine);
  }

  /* Lynch (Slate Blue) */
  .text-lynch {
    color: var(--lynch);
  }
  .bg-lynch {
    background-color: var(--lynch);
  }

  /* Bali Hai (Steel Blue) */
  .text-bali {
    color: var(--bali-hai);
  }
  .bg-bali {
    background-color: var(--bali-hai);
  }
  .text-twilight {
    color: var(--twilight);
  }
  .bg-twilight {
    background-color: var(--twilight);
  }
  .text-mist {
    color: var(--mist);
  }
  .bg-mist {
    background-color: var(--mist);
  }
  .bg-mist-texture {
    background-color: var(--mist);
    background-image: url('http://www.transparenttextures.com/patterns/debut-light.png');
  }
  
}


